.main{
	padding: 15px;
}

.top {
	font-size: 45px;
	padding: 90px; 
	background-color: #000;
	color: #fff;
}

#que{
	font-size: 36px;
	padding-top: 30px;
	padding-bottom: 15px;
}

#heading{
	font-size: 36px;
	padding-top: 45px;
	padding-bottom: 15px;
}

#history{
	font-size: 36px;
	padding-top: 45px;
	padding-bottom: 15px;
}

#nb{
	font-size: 24px;
}
#nm{
	font-size: 24px;
}
#nn{
	font-size: 24px;
}

img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#but3{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button {
	border: none;
    padding: 9px;
    border-radius: 6px;
    color: #fff;
    background-color: #000;
}
#but2{
	color: #000;
    background-color: #fff;
}
