body {
	margin: 0px;
  font-size: 18px;
  font-family: 'Oswald', sans-serif;
}


.beach-img {
	background-image:url("sunset.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	height: 600px;
	opacity: 0.7;
}

.beach-txt {
	text-align: center;
	color: #ffffff;
	position: absolute;
  	top: 75%;
  	left: 50%;
  	font-size: 30px;
  	transform: translate(-50%, -50%);
  	padding-bottom: 1px;
    text-shadow: 5px;
    text-decoration-style: solid;
}

h1 {
	margin: 9px;
}

h3{
  font-style: italic;
}

h4 {
	margin: 9px;
}

p {
	
	padding: 5px;
}



#mon {
  border-collapse: collapse;
  width: 60%;
  margin-left: 15%
  
}

#mon td, #mon th {
  border: 1px solid #ddd;
  padding: 8px;
}

#mon tr:nth-child(even){background-color: #f2f2f2;}

#mon th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #E7717D;
  color: white;
}

.text {
  
  color: white;
  font-size: 24px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.image {
  
  width: 50%;
  height: auto;
  margin-bottom: 15px;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #e7717d;
  overflow: hidden;
  width: 50%;
  height: 0;
  transition: .5s ease;
  opacity: 0.8;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.container {
  position: relative;
  width: 50%;
}

footer{
  background: linear-gradient(to left, #ff9999 0%, #e7717d  100%);
  padding: 15px;
  color: #ffffff;
}

footer h3{
  text-decoration: underline;
}
footer a {
  text-decoration: none;
  color: #fff;
}
  
a{
  text-decoration: none;
  color: #e7717d;
}  

.contact button{
  border-radius: 1px;
}

.beach-img button{
  background-color: #e7717d;
  color: #000;
  border: none;
  padding: 15px;
  color: #fff;
}

.beach-img button:hover{
  background-color: #fff;
  color:#000;
}

main {
  margin: 60px;
  margin-top: 0px;
}


.column {
  float: left;
  width: 45%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.contents li{
  float: left;
  padding: 30px;
  
}

.contents li:hover a{
  color: #e7717d;
}

.contents li:hover{
  background-color: #fff;
}

.contents ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  position: -webkit-sticky;
  background-color: #e7717d;
  position: sticky;
  top: 0;
}

.contents li a {
  display: block;
  padding: 8px;
  color: #fff;
  text-align: center;
}

.contents li a:hover {
  color: #e7717d;
}


